# Ignore everything in the main folder
/*

# Publish only these folders
!/Training_data_generation_triangles_structured/
!/Training_of_model/
!/Inference/

# Also publish these root files
!/.gitignore
!/requirements.txt
!/README.md